:root {
  --background-color: #000000;
  --light-text-color: #ffffff;
  --primary-color: #8803ff;
  --light-dark-color: #171717;
  --error-color: #bb3737;

  --font-family: 'Geist', sans-serif;

  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 38px;
  --font-size-4xl: 52px;
  --font-size-5xl: 64px;
}

/* Fonts */
@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Bold.woff') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-SemiBold.woff') format('truetype');
  font-weight: semibold;
  font-style: normal;
}
@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Light.woff') format('truetype');
  font-weight: light;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: var(--background-color);
  color: var(--light-text-color);
  font-size: var(--font-size-base);
  font-family: var(--font-family);
  font-weight: light;
}
